@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Default styles */
.sidebar {
    background-image: linear-gradient(to right, #ccffcc, #7ff8bc);
    height: 100vh;
}

.cor_branca {
    color: rgb(175, 153, 25);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;
}

.logo_sidebar {
    text-align: center;
    margin-top: 50%;
}

.img_logo_sidebar {
    width: 300px;
}

.logo {
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.corpo_sidebar {
    margin-top: 50px;
    text-align: center;
}

.bg_navbar {
    background-color: #128607f3;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Lobster', cursive;
    display: inline;
}

.descricao {
    font-size: 30px;
}

.btn_logar {
    color: rgb(7, 7, 7);
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.btn_logar:hover {
    text-decoration: none;
    color: rgb(3, 3, 3);
}

.area_cadastrar {
    text-align: center;
}

.titulo_area_cadastrar {
    font-size: 50px;
    color: #298839;
    margin-top: 15%;
    font-weight: bold;
}

.input_cadastrar {
    width: 60%;
    border: none;
    background-color: #C4C4C4;
    padding: 10px;
    outline: 0;
    font-size: 20px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 10px;
    padding-left: 70px;
}

.input_cadastrar_nome {
    background-image: url('/static/auteticacao/img/user.png');
}

.input_cadastrar_email {
    background-image: url('/static/auteticacao/img/email.png');
}

.input_cadastrar_senha {
    background-image: url('/static/auteticacao/img/senha.png');
}

.btn_cadastrar {
    background-color: #298839;
    border: none;
    color: white;
    font-size: 30px;
    padding: 5px 6px 5px 6px;
    border-radius: 20px;
    margin-top: 4%;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

/* Media queries */
@media screen and (max-width: 768px) {

    /* Adjust the styles for screens with a maximum width of 768px */
    .logo {
        font-size: 40px;
    }

    .titulo {
        font-size: 24px;
    }

    .descricao {
        font-size: 20px;
    }

    .btn_logar {
        font-size: 24px;
    }

.area_cadastrar {
    text-align: center;
}

.titulo_area_cadastrar {
    font-size: 50px;
    color: #298839;
    margin-top: 15%;
    font-weight: bold;
}

.input_cadastrar {
    width: 60%;
    border: none;
    background-color: #C4C4C4;
    padding: 10px;
    outline: 0;
    font-size: 20px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 10px;
    padding-left: 70px;

}

.input_cadastrar_nome {
    background-image: url('/static/auteticacao/img/user.png');


}

.input_cadastrar_email {
    background-image: url('/static/auteticacao/img/email.png');
}

.input_cadastrar_senha {
    background-image: url('/static/auteticacao/img/senha.png');

}

.btn_cadastrar {
    background-color: #298839;
    border: none;
    color: white;
    font-size: 30px;
    padding: 5px 6px 5px 6px;
    border-radius: 20px;
    margin-top: 4%;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}